<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TO DO</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="edit">
            <h2>Editar to do<h2>
            <% data.forEach(function(details) { %>
                <form action="/edit/<%= details._id %>" method="POST">
                    <input type="text" value="<%= details.title %>" name="title">
                    <textarea class="message" placeholder="Sobre" name="about"><%= details.about %></textarea>
                    <div class="buttons">
                        <button class="btn-1"><a href="/show">Voltar</a></button>
                        <button class="btn-2" type="submit">Salvar</button>
                    </div>
                </form>
            <% }) %>
        </div>
    </body>
</html>