<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TO DO</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h2>TO DO</h2>
                <p>Lembre-se de tudo</p>
            </div>
            <div class="content">
                <p>Para você nunca mais se esquecer.</p>
                <a href="/show"><button>Enter</button></a>
            </div>
        </div>
    </body>
</html>