<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TO DO</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="register">
            <h2>Novo to do<h2>
            <form action="/show" method="POST">
                <input type="text" placeholder="Título" name="title">
                <textarea class="message" placeholder="Sobre" name="about"></textarea>
                <button type="submit">Adicionar</button>
            </form> 
        </div>
    </body>
</html>